.container {
  overflow: hidden;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.header {
  padding: .5em 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, .05);
}

.body {
  padding: 0 1rem;
}

.footer {
  padding: 0 1rem;
}

.notice {
  display: inline-block;
  // 上面的验证码输入框有个 margin bottom 24, 所以这儿放个同样的 margin 来平衡页面
  margin-bottom: 24px;
  font-weight: 600;
  font-size: .8em;
  text-decoration: underline;
  color:#1890ff;
  cursor: zoom-in;
}
